<app-loader *ngIf="!rows"></app-loader>
<ngx-datatable *ngIf="rows" class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
  [headerHeight]="40" [footerHeight]="40" [externalPaging]="true" [count]="page.totalElements"
  [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [rowHeight]="'auto'"
  [reorderable]="reorderable" (sort)="onSort($event)" [externalSorting]="true">
  <ngx-datatable-column [name]="'Faculty' | translate" prop="ucl_university">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button [tooltip]="value.title" class="btn btn-link" placement="bottom">{{value.acronym}}</button>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'UCLouvain' | translate" prop="supervisor">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'Type' | translate" prop="mobility_type">
    <ng-template *ngIf="value" let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value | translate}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'Subject area' | translate" prop="education_fields">
    <ng-template *ngIf="value" let-row="row" let-value="value" ngx-datatable-cell-template>
      <ul *ngFor="let field of value" class="partnership__list">
        <li>{{field}}</li>
      </ul>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="" [sortable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a
        class="btn btn-link"
        [routerLink]="getDetailLink(value)"
        queryParamsHandling="merge"
      >
        {{ 'See details' | translate }}
      </a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
