<app-loader *ngIf="!data"></app-loader>

<div *ngIf="data">
  <a class="btn btn-link" [routerLink]="['/partner', data.partner.uuid]" queryParamsHandling="merge" *ngIf="showBackButton">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    {{'Back to partnership list' | translate}}
  </a>
  <dl class="detail-partnership">
    <dt *ngIf="data.partner.name">{{ 'Partner' | translate }}</dt>
    <dd *ngIf="data.partner.name">
      <a class="detail-partnership__name" [href]="data.partner.website" rel="noopener" target="blank" [title]="'Go to partners website' | translate">
        {{data.partner.name}}
      </a> <span *ngIf="data.partner.erasmus_code">({{data.partner.erasmus_code}})</span><br/>
      <span *ngIf="data.partner_entity">{{data.partner_entity}}</span><br *ngIf="data.partner_entity" />
      <span class="detail-partnership__city">{{data.partner.city}}, </span>
      <span>{{data.partner.country}}</span>
    </dd>

    <dt>{{ 'UCLouvain' | translate }}</dt>
    <dd>
        <span *ngIf="data.ucl_university">{{data.ucl_university.title}} ({{data.ucl_university.acronym}})<br/></span>
        <span *ngIf="data.ucl_university_labo">{{data.ucl_university_labo.title}} ({{data.ucl_university_labo.acronym}})</span>
    </dd>

    <dt *ngIf="data.staff_contact_name">{{ 'UCLouvain academic coordinator' | translate }}</dt>
    <dd *ngIf="data.staff_contact_name">Prof. {{data.staff_contact_name}}</dd>

    <dt *ngIf="data.education_fields">{{ 'Subject area' | translate }}</dt>
    <dd *ngIf="data.education_fields">
      <ul class="partnership__list">
        <li *ngFor="let field of data.education_fields">{{field}}</li>
      </ul>
    </dd>

    <dt>{{ 'Type of mobility' | translate }}</dt>
    <dd>{{mobilityType}}</dd>

    <dt *ngIf="data.status">{{ 'Status' | translate }}</dt>
    <dd *ngIf="data.status">{{data.status.status}} ({{data.status.valid_years}})</dd>
  </dl>

  <tabset *ngIf="data">
    <tab id="tab1">
      <ng-template tabHeading>
        {{ 'Information for outgoing students' | translate }}
      </ng-template>

      <div class="detail-partnership__tab">
        <dl class="detail-partnership">
          <dt class="nomargin">{{ 'Level of study' | translate }}</dt>
          <dd class="nomargin" *ngIf="!data.out_education_levels || !data.out_education_levels.length">
            Bachelor, Master
          </dd>

          <dd class="nomargin" *ngIf="data.out_education_levels && data.out_education_levels.length">
            <ul *ngFor="let level of data.out_education_levels" class="partnership__list">
              <li>{{level}}</li>
            </ul>
          </dd>

          <dt class="nomargin" *ngIf="data.out_entities">{{ 'Faculty/School' | translate }}</dt>
          <dd class="nomargin" *ngIf="data.out_entities">{{data.out_entities}}</dd>

          <dt>{{ 'Program' | translate }}</dt>
          <dd *ngIf="!data.out_university_offers || !data.out_university_offers.length">
            {{ 'All programs' | translate }}
          </dd>

          <dd *ngIf="data.out_university_offers && data.out_university_offers.length">
            <ul *ngFor="let level of data.out_university_offers" class="partnership__list">
              <li>{{level}}</li>
            </ul>
          </dd>

          <dt class="nomargin" *ngIf="data.out_contact && (data.out_contact.first_name || data.out_contact.last_name)">{{ 'Contact person OUT' | translate }}</dt>
          <dd *ngIf="data.out_contact.first_name || data.out_contact.last_name">
            <span *ngIf="data.out_contact.first_name || data.out_contact.last_name">{{data.out_contact.first_name}} {{data.out_contact.last_name}}<br/></span>
          </dd>

          <dt class="nomargin" *ngIf="data.out_contact && data.out_contact.email">{{ 'E-mail' | translate }}</dt>
          <dd *ngIf="data.out_contact.first_name || data.out_contact.last_name">
            <a href="mailto:{{data.out_contact.email}}" *ngIf="data.out_contact.email">{{data.out_contact.email}}</a>
          </dd>

          <dt *ngIf="data.out_portal">{{ 'Portal OUT ESPO/PSAD' | translate }}</dt>
          <dd *ngIf="data.out_portal">
            <a [href]="data.out_portal" target="blank" rel="noopener">{{data.out_portal}}</a>
          </dd>

          <dt *ngIf="data.out_funding">{{ 'Funding' | translate }}</dt>
          <dd *ngIf="data.out_funding">
            <a [href]="data.out_funding.url" rel="noopener" target="blank">{{data.out_funding.name}}</a>
          </dd>

          <dt *ngIf="data.out_partner_contacts && data.out_partner_contacts.length > 0">{{ 'Contact person in partner institution' | translate }}</dt>
          <dd *ngIf="data.out_partner_contacts && data.out_partner_contacts.length > 0">
            <ul class="partnership__list">
              <li *ngFor="let contact of data.out_partner_contacts">
                <span *ngIf="contact.title || contact.first_name || contact.last_name">
                  {{contact.title}} {{contact.first_name}} {{contact.last_name}}<br></span>
                <span *ngIf="contact.phone">{{contact.phone}}<br></span>
                <a href="mailto:{{contact.email}}" *ngIf="contact.email">{{contact.email}}</a>
              </li>
            </ul>
          </dd>

          <dt>{{ 'Individual evaluation reports' | translate }}</dt>
          <dd></dd>

          <dt *ngIf="data.medias && data.medias.length > 0">{{ 'Medias' | translate }}</dt>
          <dd *ngIf="data.medias && data.medias.length > 0">
            <ul class="partnership__list">
              <li *ngFor="let media of data.medias">
                <a [href]="media.url">{{media.name}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading>
        {{ 'Information for incoming students' | translate }}
      </ng-template>
      <div class="detail-partnership__tab">
        <dl class="detail-partnership">
          <dt *ngIf="data.in_contact && (data.in_contact.first_name || data.in_contact.last_name)">{{ 'Contact person IN' | translate }}</dt>
          <dd *ngIf="data.in_contact.first_name || data.in_contact.last_name">
            <span *ngIf="data.in_contact.first_name || data.in_contact.last_name">{{data.in_contact.first_name}} {{data.in_contact.last_name}}<br/></span>
            <a href="mailto:{{data.in_contact.email}}" *ngIf="data.in_contact.email">{{data.in_contact.email}}</a>
          </dd>

          <dt *ngIf="data.in_portal">{{ 'Portal IN ESPO/PSAD' | translate }}</dt>
          <dd *ngIf="data.in_portal">
            <a [href]="data.in_portal" target="blank" rel="noopener">{{data.in_portal}}</a>
          </dd>

          <dt>{{ 'Admission' | translate }}</dt>
          <dd></dd>

          <dt>{{ 'Course catalogue' | translate }}</dt>
          <dd></dd>

          <dt>{{ 'Useful links' | translate }}</dt>
          <dd>
            <a target="blank" rel="noopener"
              href="https://uclouvain.be/fr/etudier/etudiant-echange.html">https://uclouvain.be/fr/etudier/etudiant-echange.html</a>
          </dd>
        </dl>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading>
        {{ 'Information for outgoing teaching staff' | translate }}
      </ng-template>
      <div class="detail-partnership__tab">
        <dl class="detail-partnership">
          <dt *ngIf="data.staff_contact_name">{{ 'Contact person' | translate }}</dt>
          <dd *ngIf="data.staff_contact_name">{{data.staff_contact_name}}</dd>

          <dt *ngIf="data.staff_partner_contacts && data.staff_partner_contacts.length > 0">{{ 'Contact person in partner institution' | translate }}</dt>
          <dd *ngIf="data.staff_partner_contacts && data.staff_partner_contacts.length > 0">
            <ul class="partnership__list">
              <li *ngFor="let contact of data.out_partner_contacts">
                <span *ngIf="contact.title || contact.first_name || contact.last_name">
                  {{contact.title}} {{contact.first_name}} {{contact.last_name}}<br></span>
                <span *ngIf="contact.phone">{{contact.phone}}<br></span>
                <a href="mailto:{{contact.email}}" *ngIf="contact.email">{{contact.email}}</a>
              </li>
            </ul>
          </dd>

          <dt *ngIf="data.out_funding">{{ 'Funding' | translate }}</dt>
          <dd *ngIf="data.out_funding">
            <a [href]="data.out_funding.url" rel="noopener" target="blank">{{data.out_funding.name}}</a>
          </dd>

          <dt *ngIf="data.out_contact.email">{{ 'E-mail' | translate }}</dt>
          <dd *ngIf="data.out_contact.email">
            <a href="mailto:{{data.out_contact.email}}">{{data.out_contact.email}}</a>
          </dd>

          <dt *ngIf="data.medias && data.medias.length > 0">{{ 'Medias' | translate }}</dt>
          <dd *ngIf="data.medias && data.medias.length > 0">
            <ul class="partnership__list">
              <li *ngFor="let media of data.medias">
                <a [href]="media.url">{{media.name}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </tab>
  </tabset>
</div>
