<app-loader *ngIf="!data"></app-loader>

<div *ngIf="data">
  <a class="btn btn-link" [routerLink]="['/partner', data.partner.uuid]" queryParamsHandling="merge">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    {{'Back to partnership list' | translate}}
  </a>
  <dl class="detail-partnership">
    <dt *ngIf="data.partner.name">{{ 'Partner' | translate }}</dt>
    <dd *ngIf="data.partner.name">
      <a class="detail-partnership__name" [href]="data.partner.website" rel="noopener" target="blank" [title]="'Go to partners website' | translate">{{data.partner.name}}</a> <span *ngIf="data.partner.erasmus_code">({{data.partner.erasmus_code}})</span><br/>
      <span class="detail-partnership__type" *ngIf="data.partner.partner_type">{{data.partner.partner_type}}<br/></span>
      <span class="detail-partnership__city">{{data.partner.city}}, </span>
      <span>{{data.partner.country}}</span>
    </dd>

    <dt *ngIf="data.partner_entity">{{ 'Faculty/Department' | translate }}</dt>
    <dd *ngIf="data.partner_entity">{{data.partner_entity}}</dd>

    <dt *ngIf="data.education_fields">{{ 'Subject area' | translate }}</dt>
    <dd *ngIf="data.education_fields">
      <ul *ngFor="let field of data.education_fields" class="partnership__list">
        <li>{{field}}</li>
      </ul>
    </dd>

    <dt>{{ 'UCLouvain' | translate }}</dt>
    <dd>
        <span *ngIf="data.ucl_university">{{data.ucl_university.title}} ({{data.ucl_university.acronym}})<br/></span>
        <span *ngIf="data.ucl_university_labo">{{data.ucl_university_labo.title}} ({{data.ucl_university_labo.acronym}})</span>
    </dd>

    <dt *ngIf="data.supervisor">{{ 'UCLouvain academic coordinator' | translate }}</dt>
    <dd *ngIf="data.supervisor">Prof. {{data.supervisor}}</dd>

    <dt>{{ 'Type of mobility' | translate }}</dt>
    <dd>{{mobilityType}}</dd>

    <dt *ngIf="data.status">{{ 'Status' | translate }}</dt>
    <dd *ngIf="data.status">{{data.status.status}} ({{data.status.valid_years}})</dd>
  </dl>

  <tabset *ngIf="data">
    <tab id="tab1">
      <ng-template tabHeading>
        {{ 'Information for outgoing students' | translate }}
      </ng-template>

      <div class="detail-partnership__tab">
        <dl class="detail-partnership">
          <dt *ngIf="data.out_education_levels">{{ 'Level of study' | translate }}</dt>
          <dd *ngIf="data.out_education_levels">
            <ul *ngFor="let level of data.out_education_levels">
              <li>{{level}}</li>
            </ul>
          </dd>

          <dt *ngIf="data.out_entities">{{ 'Faculty/School' | translate }}</dt>
          <dd *ngIf="data.out_entities">{{data.out_entities}}</dd>

          <dt *ngIf="data.out_university_offers">{{ 'Program' | translate }}</dt>
          <dd *ngIf="data.out_university_offers">
            <ul *ngFor="let level of data.out_university_offers">
              <li>{{level}}</li>
            </ul>
          </dd>

          <dt *ngIf="data.out_contact.first_name">{{ 'Contact person OUT' | translate }}</dt>
          <dd *ngIf="data.out_contact.first_name || data.out_contact.last_name">
            {{data.out_contact.first_name}} {{data.out_contact.last_name}}
          </dd>

          <dt *ngIf="data.out_contact.email">{{ 'E-mail' | translate }}</dt>
          <dd *ngIf="data.out_contact.email">{{data.out_contact.email}}</dd>

          <dt *ngIf="data.out_portal">{{ 'Portal (sigle FAC) Outgoing' | translate }}</dt>
          <dd *ngIf="data.out_portal">{{data.out_portal}}</dd>

          <dt *ngIf="data.out_funding">{{ 'Funding' | translate }}</dt>
          <dd *ngIf="data.out_funding">
            <a [href]="data.out_funding.url" rel="noopener" target="blank">{{data.out_funding.name}}</a>
          </dd>

          <dt>{{ 'Contact person in partner institution' | translate }}</dt>
          <dd>
            <span *ngIf="data.out_partner_contact.first_name || data.out_partner_contact.last_name">
              {{data.out_partner_contact.first_name}} {{data.out_partner_contact.last_name}}<br></span>
            <span *ngIf="data.out_partner_contact.phone">{{data.out_partner_contact.phone}}<br></span>
            <a href="mailto:{{data.out_partner_contact.email}}" *ngIf="data.out_partner_contact.email">{{data.staff_partner_contact.email}}</a>
          </dd>

          <dt>{{ 'Individual evaluation reports' | translate }}</dt>
          <dd></dd>

          <dt *ngIf="data.medias && data.medias.length > 0">{{ 'Medias' | translate }}</dt>
          <dd *ngIf="data.medias && data.medias.length > 0">
            <ul *ngFor="let level of data.medias">
              <li>{{level}}</li>
            </ul>
          </dd>
        </dl>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading>
        {{ 'Information for incoming students' | translate }}
      </ng-template>
      <div class="detail-partnership__tab">
        <dl class="detail-partnership">
          <dt *ngIf="data.in_contact.name">{{ 'Contact person IN' | translate }}</dt>
          <dd *ngIf="data.in_contact.name">{{data.in_contact.name}}</dd>

          <dt *ngIf="data.in_contact.email">{{ 'E-mail' | translate }}</dt>
          <dd *ngIf="data.in_contact.email">{{data.in_contact.email}}</dd>

          <dt *ngIf="data.in_portal">{{ 'Portal (sigle FAC) incoming exchange students' | translate }}</dt>
          <dd *ngIf="data.in_portal">{{data.in_portal}}</dd>

          <dt>{{ 'Admission' | translate }}</dt>
          <dd></dd>

          <dt>{{ 'Course catalogue' | translate }}</dt>
          <dd></dd>

          <dt>{{ 'Useful links' | translate }}</dt>
          <dd>
            <a target="blank" ref="noopener"
              href="https://uclouvain.be/fr/etudier/etudiant-echange.html">https://uclouvain.be/fr/etudier/etudiant-echange.html</a>
          </dd>
        </dl>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading>
        {{ 'Information for outgoing teaching staff' | translate }}
      </ng-template>
      <div class="detail-partnership__tab">
        <dl class="detail-partnership">
          <dt *ngIf="data.staff_contact_name">{{ 'Contact person' | translate }}</dt>
          <dd *ngIf="data.staff_contact_name">{{data.staff_contact_name}}</dd>

          <dt>{{ 'Contact person in partner institution' | translate }}</dt>
          <dd>
            <span *ngIf="data.staff_partner_contact.first_name || data.staff_partner_contact.last_name">
              {{data.staff_partner_contact.first_name}} {{data.staff_partner_contact.last_name}}<br></span>
            <span *ngIf="data.staff_partner_contact.phone">{{data.staff_partner_contact.phone}}<br></span>
            <a href="mailto:{{data.staff_partner_contact.email}}" *ngIf="data.staff_partner_contact.email">{{data.staff_partner_contact.email}}</a>
          </dd>

          <dt *ngIf="data.out_funding">{{ 'Funding' | translate }}</dt>
          <dd *ngIf="data.out_funding">{{data.out_funding}}</dd>

          <dt *ngIf="data.out_contact.email">{{ 'E-mail' | translate }}</dt>
          <dd *ngIf="data.out_contact.email">{{data.out_contact.email}}</dd>

          <dt *ngIf="data.medias && data.medias.length > 0">{{ 'Medias' | translate }}</dt>
          <dd *ngIf="data.medias && data.medias.length > 0">
            <ul *ngFor="let level of data.medias">
              <li>{{level}}</li>
            </ul>
          </dd>
        </dl>
      </div>
    </tab>
  </tabset>
</div>
