.detail-partnership {
  display: grid;
  grid-template-columns: minmax(auto, 200px) 1fr;
  grid-column-gap: 1em;
}

.detail-partnership dt {
  text-align: right;
}

.detail-partnership dt.nomargin,
.detail-partnership dd.nomargin {
  margin-bottom: 0;
}

.detail-partnership dt,
.detail-partnership dd {
  margin-bottom: 1em;
}

.detail-partnership__tab {
  padding: 1em 0;
}

.detail-partnership__name {
  font-weight: bold;
  margin-right: 6px;
}

.detail-partnership__city {
  font-style: italic;
}

.partnership__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.has-tooltip {
  text-decoration: underline dotted;
}

.has-tooltip:hover {
  cursor: pointer;
}

.ngx-ellipsis-more {
  text-decoration: underline;
  font-weight: bold;
}
