<app-loader *ngIf="!data"></app-loader>

<div *ngIf="data">
  <a
    class="btn btn-link"
    [routerLink]="['/', data.partner.uuid]"
    queryParamsHandling="merge"
    *ngIf="showBackButton"
  >
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    {{'Back to partnership list' | translate}}
  </a>
  <dl class="detail-partnership">

    <ng-container *ngIf="data.partner.name">
      <dt>{{ 'Partner' | translate }}</dt>
      <dd>
        <a
          class="detail-partnership__name"
          [href]="data.partner.website"
          rel="noopener"
          target="blank"
          [title]="'Go to partners website' | translate"
        >
          {{data.partner.name}}
        </a>
        <ng-container *ngIf="data.partner.erasmus_code">({{data.partner.erasmus_code}})</ng-container>
        <br />
        <ng-container *ngIf="data.partner_entity">{{data.partner_entity}}<br /></ng-container>
        <ng-container class="detail-partnership__city">{{data.partner.city}},</ng-container>
        {{data.partner.country}}
      </dd>
    </ng-container>

    <ng-container *ngIf="data.partner_entities && data.partner_entities.length">
      <dt>{{ 'Linked partners' | translate }}</dt>
      <dd>
        <ul class="partnership__list">
          <ng-container *ngFor="let entity of data.partner_entities; let i = index">
            <li *ngIf="!entity.includes(data.partner.name) && i <= 5">{{entity}}</li>
            <li *ngIf="!entity.includes(data.partner.name) && i > 5 && showAllPartners">{{entity}}</li>
          </ng-container>
        </ul>
        <a
          *ngIf="data.partner_entities.length > 5 && !showAllPartners"
          (click)="showAllPartners = true"
          style="text-decoration: underline; font-weight: bold; cursor: pointer"
        >
          ...
        </a>
      </dd>
    </ng-container>

    <dt>{{ 'UCLouvain entity' | translate }}</dt>
    <dd>
      <ng-container *ngIf="uclEntityParentDisplay">
        {{ uclEntityParentDisplay }}<br />
      </ng-container>
      {{ uclEntityDisplay }}
    </dd>

    <ng-container *ngIf="data.supervisor">
      <dt>{{ 'UCLouvain coordinator' | translate }}</dt>
      <dd>{{data.supervisor}}</dd>
    </ng-container>

    <ng-container *ngIf="data.education_fields">
      <dt>{{ 'Subject area' | translate }}</dt>
      <dd>
        <ul class="partnership__list">
          <li *ngFor="let field of data.education_fields">{{field}}</li>
        </ul>
      </dd>
    </ng-container>

    <ng-container *ngIf="!isMobility">
      <dt>{{ 'Type' | translate }}</dt>
      <dd>
        {{ data.type }}
        <ng-container *ngIf="data.subtype">:
          <em>{{ data.subtype }}</em>
        </ng-container>
      </dd>
    </ng-container>

    <ng-container *ngIf="isMobility">
      <dt>{{ 'Type of mobility' | translate }}</dt>
      <dd>{{mobilityType}}</dd>
    </ng-container>

    <ng-container *ngIf="!isMobility && data.missions">
      <dt>{{ 'Missions or thematic' | translate }}</dt>
      <dd>{{ data.missions }}</dd>
    </ng-container>

    <dt>{{ 'Status' | translate }}</dt>
    <dd *ngIf="!!data.status">
      {{ data.status.status | translate }}
      <ng-container *ngIf="isValidated(data.status) && data.status.valid_years">
        ({{data.status.valid_years}})
      </ng-container>
      <ng-container *ngIf="data.status.start_date">
        ({{data.status.start_date}} > {{data.status.end_date}})
      </ng-container>
    </dd>

    <ng-container *ngIf="data.bilateral_agreements && data.bilateral_agreements.length > 0">
      <dt>{{ 'Bilateral agreements' | translate }}</dt>
      <dd>
        <ul class="list-unstyled">
          <li *ngFor="let bilateral_agreement of data.bilateral_agreements">
            <a [href]="bilateral_agreement.url">{{bilateral_agreement.name}}</a>
          </li>
        </ul>
      </dd>
    </ng-container>

    <ng-container *ngIf="!isMobility">

      <ng-container *ngIf="data.out_funding && data.out_funding.name">
        <dt class="nomargin">{{ 'Funding' | translate }}</dt>
        <dd class="nomargin">{{ data.out_funding.name }}</dd>
      </ng-container>

      <ng-container *ngIf="data.funding_program && data.funding_program.name">
        <dt class="nomargin">{{ 'Funding program / Action' | translate }}</dt>
        <dd class="nomargin">
          <ng-container *ngIf="!data.funding_program.url">
            {{ data.funding_program.name }}
          </ng-container>
          <a [href]="data.funding_program.url" target="_blank" *ngIf="data.funding_program.url">
            {{ data.funding_program.name }}
          </a>
        </dd>
      </ng-container>

      <ng-container *ngIf="data.project_title">
        <dt class="nomargin">{{ 'Project title' | translate }}</dt>
        <dd class="nomargin">{{data.project_title}}</dd>
      </ng-container>

      <ng-container *ngIf="data.id_number">
        <dt>{{ 'Id number' | translate }}</dt>
        <dd>{{data.id_number}}</dd>
      </ng-container>

      <dt class="nomargin">{{ 'Level of study' | translate }}</dt>
      <dd class="nomargin" *ngIf="!data.out_education_levels || !data.out_education_levels.length">
        {{ 'Bachelor' | translate }}, {{ 'Master' | translate }}
      </dd>
      <dd class="nomargin" *ngIf="data.out_education_levels && data.out_education_levels.length">
        {{ getEducationLevels() }}
      </dd>

      <ng-container *ngIf="isCoorganisation">
        <dt class="nomargin">{{ 'Faculty/School' | translate }}</dt>
        <dd class="nomargin" *ngIf="data.out_entities && data.out_entities.length">
          <ng-container *ngFor="let entity of data.out_entities; index as index">
            <ng-container *ngIf="index !== 0">,</ng-container>
            <span class="has-tooltip" [tooltip]="entity.title">{{entity.acronym}}</span>
          </ng-container>
        </dd>
        <dd class="nomargin" *ngIf="!data.out_entities || !data.out_entities.length">
          {{ 'All' | translate }}
        </dd>

        <dt>{{ 'Program' | translate }}</dt>
        <dd *ngIf="!data.out_university_offers || !data.out_university_offers.length">
          {{ 'All programs' | translate }}
        </dd>
        <dd *ngIf="data.out_university_offers && data.out_university_offers.length">
          <ul *ngFor="let level of data.out_university_offers" class="partnership__list">
            <li>{{level}}</li>
          </ul>
        </dd>
      </ng-container>

      <ng-container *ngIf="data.description">
        <dt>{{ 'Project summary' | translate }}</dt>
        <dd
          *ngIf="showEllipsis; else noEllipsis"
          ellipsis
          style="max-height: 6em"
          ellipsis-word-boundaries=" \n"
          (ellipsis-click-more)="showEllipsis = false"
        >
          {{ data.description }}
        </dd>

        <ng-template #noEllipsis>
          <p [innerHTML]="data.description | nl2br "></p>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="data.out_useful_links && data.out_useful_links.length > 0">
        <dt>{{ 'Further information' | translate }}</dt>
        <dd *ngIf="data.out_useful_links && data.out_useful_links.length > 0">
          <ul class="list-unstyled">
            <li *ngFor="let useful_link of data.out_useful_links">
              <a [href]="useful_link.url">{{useful_link.name}}</a>
            </li>
          </ul>
        </dd>
      </ng-container>

    </ng-container>

  </dl>

  <tabset *ngIf="isMobility && data">
    <tab id="tab1">
      <ng-template tabHeading>
        {{ 'Information for outgoing students' | translate }}
      </ng-template>

      <div class="detail-partnership__tab">
        <dl class="detail-partnership">
          <dt class="nomargin">{{ 'Level of study' | translate }}</dt>
          <dd class="nomargin" *ngIf="!data.out_education_levels || !data.out_education_levels.length">
            {{ 'Bachelor' | translate }}, {{ 'Master' | translate }}
          </dd>

          <dd class="nomargin" *ngIf="data.out_education_levels && data.out_education_levels.length">
            {{ getEducationLevels() }}
          </dd>

          <dt class="nomargin">{{ 'Faculty/School' | translate }}</dt>
          <dd class="nomargin" *ngIf="data.out_entities && data.out_entities.length">
            <ng-container *ngFor="let entity of data.out_entities; index as index">
              <ng-container *ngIf="index !== 0">,</ng-container>
              <span class="has-tooltip" [tooltip]="entity.title">{{entity.acronym}}</span>
            </ng-container>
          </dd>
          <dd class="nomargin" *ngIf="!data.out_entities || !data.out_entities.length">
            {{ 'All' | translate }}
          </dd>

          <dt>{{ 'Program' | translate }}</dt>
          <dd *ngIf="!data.out_university_offers || !data.out_university_offers.length">
            {{ 'All programs' | translate }}
          </dd>
          <dd *ngIf="data.out_university_offers && data.out_university_offers.length">
            <ul *ngFor="let level of data.out_university_offers" class="partnership__list">
              <li>{{level}}</li>
            </ul>
          </dd>

          <dt class="nomargin" *ngIf="data.out_contact && (data.out_contact.first_name || data.out_contact.last_name)">
            {{ 'Contact person OUT' | translate }}
          </dt>
          <dd class="nomargin" *ngIf="data.out_contact.first_name || data.out_contact.last_name">
            <ng-container *ngIf="data.out_contact.first_name || data.out_contact.last_name">
              {{data.out_contact.first_name}} {{data.out_contact.last_name}}
              <br />
            </ng-container>
          </dd>

          <dt class="nomargin" *ngIf="data.out_contact && data.out_contact.email">
            {{ 'E-mail' | translate }}
          </dt>
          <dd class="nomargin" *ngIf="data.out_contact.first_name || data.out_contact.last_name">
            <a href="mailto:{{data.out_contact.email}}" *ngIf="data.out_contact.email">
              {{data.out_contact.email}}
            </a>
          </dd>

          <ng-container *ngIf="data.out_portal">
            <dt>{{ 'Portal OUT' | translate }}</dt>
            <dd>
              <a [href]="data.out_portal" target="blank" rel="noopener">{{data.out_portal}}</a>
            </dd>
          </ng-container>

          <dt>{{ 'Funding' | translate }}</dt>
          <dd>
            <ng-container *ngIf="!data.out_funding">-</ng-container>
            <a *ngIf="data.out_funding" [href]="data.out_funding.url" rel="noopener" target="blank">
              {{data.out_funding.name}}
            </a>
          </dd>


          <ng-container *ngIf="data.out_summary_tables && data.out_summary_tables.length > 0">
            <dt>{{ 'Summary Tables' | translate }}</dt>
            <dd *ngIf="data.out_summary_tables && data.out_summary_tables.length > 0">
              <ul class="list-unstyled">
                <li *ngFor="let summary_table of data.out_summary_tables">
                  <a [href]="summary_table.url">{{summary_table.name}}</a>
                </li>
              </ul>
            </dd>
          </ng-container>

          <ng-container *ngIf="data.out_useful_links && data.out_useful_links.length > 0">
            <dt>{{ 'Further information' | translate }}</dt>
            <dd *ngIf="data.out_useful_links && data.out_useful_links.length > 0">
              <ul class="list-unstyled">
                <li *ngFor="let useful_link of data.out_useful_links">
                  <a [href]="useful_link.url">{{useful_link.name}}</a>
                </li>
              </ul>
            </dd>
          </ng-container>
        </dl>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading>
        {{ 'Information for incoming students' | translate }}
      </ng-template>
      <div class="detail-partnership__tab">
        <dl class="detail-partnership">
          <dt class="nomargin" *ngIf="data.in_contact && (data.in_contact.first_name || data.in_contact.last_name)">
            {{ 'Contact person IN' | translate }}
          </dt>
          <dd class="nomargin" *ngIf="data.in_contact.first_name || data.in_contact.last_name">
            <ng-container *ngIf="data.in_contact.first_name || data.in_contact.last_name">
              {{data.in_contact.first_name}} {{data.in_contact.last_name}}
              <br />
            </ng-container>
          </dd>

          <dt class="nomargin" *ngIf="data.in_contact && data.in_contact.email"></dt>
          <dd class="nomargin" *ngIf="data.in_contact && data.in_contact.email">
            <a href="mailto:{{data.in_contact.email}}" *ngIf="data.in_contact.email">
              {{data.in_contact.email}}
            </a>
          </dd>

          <dt *ngIf="data.in_portal"></dt>
          <dd *ngIf="data.in_portal">
            <a [href]="data.in_portal" target="blank" rel="noopener">
              {{ 'Web portal incoming' | translate }}
              <ng-container *ngIf="data.ucl_faculty && data.ucl_faculty !== data.ucl_entity">
                {{ data.ucl_entity.acronym }}/
              </ng-container>
              {{data.ucl_entity.acronym}}
            </a>
          </dd>

          <dt>{{ 'Admission' | translate }}</dt>
          <dd>
            <a href="http://www.uclouvain.be/en-exchange-application" target="_blank">
              {{ 'Admission Text 1' | translate }}
            </a>
            <br />
            <span [innerHTML]="'Admission Text 2' | translate "></span>
          </dd>

          <dt>{{ 'Course catalogue' | translate }}</dt>
          <dd>
            <a
              [href]="getCourseCatalogueUrl()" *ngIf="getCourseCatalogueUrl()" target="_blank"
            >{{ 'Link to course catalogue' | translate }}</a>
            <br />
            <ng-container *ngIf="getCourseCatalogueText()">{{ getCourseCatalogueText() }}</ng-container>
          </dd>

          <dt>{{ 'Useful links' | translate }}</dt>
          <dd>
            <a target="blank" rel="noopener" [href]="'general_information_url' | translate">
              {{ 'General information for incoming exchange students' | translate }}
            </a>
            <br />
            <a target="blank" rel="noopener" [href]="'internation_welcome_guide_url' | translate">
              {{ 'International Welcome Guide' | translate }}
            </a>
          </dd>
        </dl>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading>
        {{ 'Information for outgoing teaching staff' | translate }}
      </ng-template>
      <div class="detail-partnership__tab">
        <dl class="detail-partnership">
          <ng-container  *ngIf="data.staff_contact">
            <dt>{{ 'Contact person' | translate }}</dt>
            <dd>
              <a [href]="'mailto:' + data.staff_contact.email">
                {{data.staff_contact.first_name}} {{data.staff_contact.last_name}}
              </a>
            </dd>
          </ng-container>

          <ng-container *ngIf="data.staff_partner_contacts && data.staff_partner_contacts.length > 0">
            <dt>{{ 'Contact person in partner institution' | translate }}</dt>
            <dd>
              <ul class="partnership__list">
                <li *ngFor="let contact of data.out_partner_contacts">
                  <ng-container *ngIf="contact.title || contact.first_name || contact.last_name">
                    {{contact.title}} {{contact.first_name}} {{contact.last_name}}<br />
                  </ng-container>
                  <ng-container *ngIf="contact.phone">{{contact.phone}}<br /></ng-container>
                  <a href="mailto:{{contact.email}}" *ngIf="contact.email">{{contact.email}}</a>
                </li>
              </ul>
            </dd>
          </ng-container>

          <dt>{{ 'Funding' | translate }}</dt>
          <dd>
            <a [href]="'funding_staff_url' | translate" rel="noopener" target="blank">
              {{ 'Open call for staff mobility' | translate }}
            </a>
          </dd>

          <ng-container *ngIf="data.medias && data.medias.length > 0">
            <dt>{{ 'Medias' | translate }}</dt>
            <dd>
              <ul class="list-unstyled">
                <li *ngFor="let media of data.medias">
                  <a [href]="media.url">{{media.name}}</a>
                </li>
              </ul>
            </dd>
          </ng-container>
        </dl>
      </div>
    </tab>
  </tabset>
</div>
