<div #modal="bs-modal" bsModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
  [config]="{ show: true }" (onHide)="goToSearch($event)">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="partner">{{partner.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-loader *ngIf="!rows"></app-loader>
        <ngx-datatable *ngIf="rows" class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
          [headerHeight]="40" [footerHeight]="40" [externalPaging]="true" [count]="page.totalElements"
          [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [rowHeight]="'auto'"
          [reorderable]="reorderable">
          <ngx-datatable-column [name]="'Faculty' | translate" prop="ucl_university">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <button [tooltip]="value.title" class="btn btn-link" placement="bottom">{{value.acronym}}</button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'UCLouvain' | translate" prop="supervisor">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'Type' | translate" prop="mobility_type">
            <ng-template *ngIf="value" let-row="row" let-value="value" ngx-datatable-cell-template>
              {{value | translate}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'Subject area' | translate" prop="education_fields">
            <ng-template *ngIf="value" let-row="row" let-value="value" ngx-datatable-cell-template>
              <ul *ngFor="let field of value" class="partnership__list">
                <li>{{field}}</li>
              </ul>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <a href="#" (click)="goToPartnershipDetail($event, value)">{{ 'See details' | translate }}</a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
