#map {
  position: relative;
}

#map-legend, #list-controls {
  position: absolute;
  z-index: 1;
}

#list-controls {
  padding: .5em;
}

#list-controls #map-button {
  margin-right: .5em
}

#map-legend {
  background: #fff;
  padding-left: .5em;
  display: inline-block;
  bottom: 0;
  border-top-right-radius: 5px;
}
