<div id="map" [style.height.px]="height">
  <div id="map-loader" *ngIf="loading"></div>
  <div id="map-legend" [class.closed]="legendClosed">
    <strong>{{ 'Legend' | translate }}</strong>
    <button (click)="legendClosed = !legendClosed" type="button" class="btn">
      &nbsp; <i
      class="glyphicon" [class.glyphicon-menu-down]="legendClosed" [class.glyphicon-menu-left]="!legendClosed"
    ></i>
    </button>
    <div class="legend-row">
      <svg width="150" height="100">
        <circle r="20" cx="25" cy="25" fill="#fff" [attr.stroke]="mainColor" stroke-width="3"></circle>
        <text x="18" y="20">10</text>
        <line x1="15" x2="35" y1="25" y2="25" stroke="#000"></line>
        <text x="18" y="38">50</text>

        <text x="50" y="20">{{ 'count_partners' | translate:{ 'count': 10 } }}</text>
        <line x1="50" x2="130" y1="25" y2="25" stroke="#000"></line>
        <text x="50" y="40">
          {{ 'count_partnerships' | translate:{ 'count': 50 } }}
        </text>

        <circle r="13" cx="25" cy="63" [attr.fill]="mainColor" stroke="#fff" stroke-width="3"></circle>
        <text x="22" y="68" fill="#fff">7</text>
        <text x="50" y="67">
          {{ 'count_partnerships' | translate:{ 'count': 7 } }}
        </text>
      </svg>
    </div>
  </div>
</div>
