<h2>Partnerships</h2>

<ngx-datatable
  class="bootstrap"
  [rows]="rows"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'"
  [headerHeight]="40"
  [footerHeight]="40"
  [externalPaging]="true"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  [limit]="page.size"
  (page)='setPage($event)'
  [rowHeight]="'auto'"
  [reorderable]="reorderable"
  >
  <ngx-datatable-column [name]="'Partner' | translate" prop="partner.name">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'Country' | translate" prop="partner.country">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'City' | translate" prop="partner.city">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'UCLouvain' | translate" prop="supervisor">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'Type' | translate" prop="mobility_type">
    <ng-template *ngIf="value" let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value | translate}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'Subject area' | translate" prop="education_fields">
    <ng-template *ngIf="value" let-row="row" let-value="value" ngx-datatable-cell-template>
      <ul *ngFor="let field of value" class="partnership__list">
        <li>{{field}}</li>
      </ul>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a href="#" (click)="goToPartnershipDetail($event, value)">{{ 'See details' | translate }}</a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<app-loader *ngIf="!rows"></app-loader>
