<div #modal="bs-modal" bsModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
  (onHide)="goToSearch()" [config]="{ show: true }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="partner" translate [translateParams]="{partner_name: partner.name}">
          Partnership with partner_name
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-error-message [title]="'Failed to load partner detail' | translate"></app-error-message>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
