#results-wrapper {
  position: relative;
}

#list-controls {
  padding: .5em;
}

#list-controls.controls-over {
  position: absolute;
  z-index: 15;
}

#map-button, #map-influence {
  margin-right: .5em
}
