/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@swimlane/ngx-datatable/index.css';
@import 'node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import 'node_modules/@swimlane/ngx-datatable/assets/icons.css';


/* Override Drupal theme for pagination */
.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  background: transparent;
  border: none;
  font-size: 1em;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager {
  margin: 0 !important;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-footer-inner {
  overflow: hidden;
}

.modal-header {
  overflow: hidden;
}

/* button as text (for tooltips) */
.btn-text {
  padding: 0;
}

/* Overwrite ngx-database style to center verticaly */
.datatable-body-cell {
  display: flex !important;
  align-items: center;
}


.ngx-datatable.bootstrap .datatable-body .progress-linear {
  display: block;
  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0;
  position: absolute;
}
.ngx-datatable.bootstrap .datatable-body .progress-linear .container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 5px;
  -webkit-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  background-color: #ffdada;
}
.ngx-datatable.bootstrap .datatable-body .progress-linear .container .bar {
  animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform .2s linear;
  background-color: #ff5252;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}

/* Add style to sortable column */

datatable-header-cell.sortable span.datatable-header-cell-label {
  text-decoration: underline dotted;
}

/**
 * Progress bar animations
 */
 @keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(0.3, 1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}

.ng-dropdown-panel {
  width: auto !important;
}
