/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

/* Override Drupal theme for pagination */
.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  background: transparent;
  border: none;
  font-size: 1em;
}

.modal-header {
  overflow: hidden;
}
