<h2>Partners</h2>
<ngx-datatable
  class="bootstrap"
  [rows]="rows"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'"
  [headerHeight]="40"
  [footerHeight]="40"
  [limit]="10"
  [rowHeight]="'auto'"
  [reorderable]="reorderable">
  <ngx-datatable-column [name]="'Name' | translate" props="name">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'Country' | translate" props="country">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'City' | translate" props="city">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="" [name]="'Partnerships' | translate">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span *ngIf="value.partnerships_count === 0">Aucun partenariat</span>
      <a *ngIf="value.partnerships_count === 1" href="#" (click)="goToPartnerships($event, value.uuid)">Voir le partenariat</a>
      <a *ngIf="value.partnerships_count > 1" href="#" (click)="goToPartnerships($event, value.uuid)">Voir les {{value.partnerships_count}} partenariats</a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
